<footer class="footer">
  <!-- Copyright Section -->
  <div class="footer-text text-center">
    <p>&copy; 2024 All Rights Reserved. Designed by <strong>Huu Hung Nguyen</strong></p>
  </div>

  <!-- Angular Repo Star Section -->
  <div class="github-repo">
    <p>Love it?&nbsp;
      <a href="https://github.com/hhnguyen-20/huuhung-nguyen-portfolio" target="_blank" rel="noopener" class="github-link">
        Give my repo a star.
        <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
          </svg>
          Star
        </div>
      </a>
    </p>
  </div>
</footer>
